.logo {
    font-weight: 1000;
    font-size: 40px;
    color: tomato;
  }
  
.logo font {
    color: black;
  }
  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .button{font-family: "Open Sans";
    color: #00134d !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
    } 

    .button:hover{
        color: #000000 !important;
        border-radius: 50px;
        border-color: tomato !important;
        transition: all 0.6s ease 0s;

    }
    